// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  border-bottom: 1px solid #eee;
}

#details {
  background-color: #fcfcfc;
  padding: 30px;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.16);
  border-radius: 4px;
}
